/* put your css code here */

.category_name {
	text-align: center;
	font-size: 70px;
	color: dimgray;
}

.categories {
	margin-top: 70px;
}

.species {
	text-align: center;
}

.jumbotron {
	background-color: dimgray;
	color: snow;
}

.species_image {
	padding: 10px;
	max-width: 100%;
}

.description {
	color: gray;
}

.species_name {
	color: dimgray;
}

.title {
	color: dimgray;
	font-size: 40px;
}